<!DOCTYPE html>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Home</title>
        <meta name = viewport content = "width = device-width, initial-scale = 1.0">
        <link rel = "stylesheet" type = "text/css" href ="static\css\style.css"> 
    </head>

    <body>
        <header>
            <nav>
                <label class = "logo"><b>Zomentum Hiring Assessment</b></label>
                <ul>
                    <li><a href = "book">Book Ticket</a></li>
                    <li><a href = "admin">Admin</a></li>
                </ul>
            </nav>
        </header>
        <main>
            
        </main>
        <footer>

        </footer>
    </body>
</html>